<?xml version="1.0"?>
<configuration>
  <system.web>
    <trace enabled="true" mostRecent="true"/>
    <compilation debug="true"/>
    <httpRuntime maxRequestLength="2147483647" executionTimeout="3600" />

  </system.web>
  <system.serviceModel>

        <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="PictureBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" >
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>
      </bindings>
    <client>
      <endpoint bindingConfiguration="PictureBinding" address="http://152.226.238.114/EZTravelWebWCF/Service1.svc" binding="basicHttpBinding" contract="WcfService1.IService1" />
    </client>
    <services>
      <service name="WcfService1.Service1" behaviorConfiguration="serviceBehavior">
        <endpoint bindingConfiguration="PictureBinding" address="" binding="basicHttpBinding" contract="WcfService1.IService1" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
 
</configuration>